.contato {
    background-color: #003366; 
    color: white; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-image: url('../Img/Fundo-img.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 200px; 
  }
  
  .contato-content {
    text-align: center; 
    max-width: 800px; 
  }
  
  .contato-content h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: white; 
  }
  
  .contato-content p {
    font-size: 1rem;
    line-height: 1.6;
  }
  