.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  height: 82px;
  
  /* Posicionamento fixo */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.logo-image { 
  height: 60px; 
}

.header-logo h1 { 
  font-size: 1.5rem; 
  color: #003366; 
  margin: 0; 
}

/* O container do botão */
.header-right-content {
  display: flex;
}

.header-button {
  padding: 10px 20px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
  text-decoration: none; /* Remove o sublinhado do Link */
  display: inline-block;
  text-align: center;
}

.header-button:hover {
  background-color: #0055a5;
}


/* --- Estilos para Telas Pequenas (Responsivo) --- */
@media (max-width: 768px) {
  .header {
    padding: 10px 20px; /* Menos espaçamento lateral */
  }

  .header-logo h1 {
    display: none; /* Esconde o nome da oficina para ganhar espaço */
  }

  .header-button {
    padding: 8px 12px; /* Botão ligeiramente menor */
    font-size: 0.9rem;
  }
}